<form
  class="nice-form"
  (ngSubmit)="onSubmit()"
  [formGroup]="form">

  <div class="site__row">

    <div class="col-xs-12 nice-form__title">{{'form.title.fullName' | translate}}</div><!-- /nice-form__title -->

    <div class="col-sm-4">
      <mat-form-field appearance="outline">
        <mat-label>{{'form.field.surname' | translate}}</mat-label>
        <input
          formControlName="surname"
          matInput>
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field appearance="outline">
        <mat-label>{{'form.field.name' | translate}}</mat-label>
        <input
          formControlName="name"
          matInput>
      </mat-form-field>
    </div>

    <div class="col-sm-4">
      <mat-form-field appearance="outline">
        <mat-label>{{'form.field.patronymic' | translate}}</mat-label>
        <input
          formControlName="lastName"
          matInput>
      </mat-form-field>
    </div>

  </div><!-- /site__row -->

  <div class="site__row">

    <div class="col-sm-6">
      <div class="nice-form__title">{{'form.title.phoneNumber' | translate}}</div>
      <mat-form-field appearance="outline" class="mat-form-field_phone">
        <input
          prefix="+38 0"
          mask="00 000 00 00"
          formControlName="phone"
          type="text"
          matInput>
      </mat-form-field>
    </div><!-- /col-sm-6 -->

    <div class="col-sm-6">
      <div class="nice-form__title">{{'form.title.email' | translate}}</div>
      <mat-form-field appearance="outline">
        <input
          formControlName="email"
          type="email"
          matInput>
      </mat-form-field>
    </div><!-- /col-sm-6 -->

    <div class="col-sm-6">
      <div class="nice-form__title">{{'form.title.deliveryMethod' | translate}}</div>

      <mat-form-field appearance="outline">
        <mat-select
          required
          (selectionChange)="onSelectChange($event)"
          formControlName="deliveryType">
          <mat-option [value]="'registered-letter'">{{'form.field.registeredLetter' | translate}}</mat-option>
          <mat-option [value]="'self-pickup'">{{'form.field.selfPickup' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div><!-- /col-sm-6 -->

  </div><!-- /site__row -->

  <div *ngIf="isRegisteredLetter" formGroupName="registeredLetter">

    <div class="site__row">

      <div class="col-xs-12 nice-form__title">{{'form.title.addresses' | translate}}</div><!-- /nice-form__title -->

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'form.field.index' | translate}}</mat-label>
          <input
            formControlName="branchIndexRL"
            (input)="onIndexInput($event)"
            maxlength="5"
            matInput>
        </mat-form-field>
      </div><!-- /col-sm-6 -->

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'form.field.region' | translate}}</mat-label>
          <input
            formControlName="region"
            matInput>
        </mat-form-field>
      </div><!-- /col-sm-6 -->

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'form.field.district' | translate}}</mat-label>
          <input
            formControlName="district"
            matInput>
        </mat-form-field>
      </div><!-- /col-sm-6 -->

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'form.field.locality' | translate}}</mat-label>
          <input
            formControlName="locality"
            matInput>
        </mat-form-field>
      </div><!-- /col-sm-6 -->

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <mat-label>{{'form.field.street' | translate}}</mat-label>
          <input
            formControlName="street"
            matInput>
        </mat-form-field>
      </div><!-- /col-sm-6 -->

      <div class="col-sm-6">
        <div class="site__row">

          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>{{'form.field.houseNumber' | translate}}</mat-label>
              <input
                formControlName="houseNumber"
                matInput>
            </mat-form-field>
          </div><!-- /col-xs-6 -->

          <div class="col-xs-6">
            <mat-form-field appearance="outline">
              <mat-label>{{'form.field.apartmentNumber' | translate}}</mat-label>
              <input
                formControlName="apartmentNumber"
                matInput>
            </mat-form-field>
          </div><!-- /col-xs-6 -->

        </div><!-- /site__row -->
      </div><!-- /col-sm-6 -->

    </div><!-- /site__row -->

  </div>

  <div *ngIf="isSelfPickup" formGroupName="selfPickup">

    <div class="site__row">

      <div class="col-xs-12 nice-form__title">{{'form.title.branchIndex' | translate}}</div><!-- /nice-form__title -->

      <div class="col-sm-6">
        <mat-form-field appearance="outline">
          <input
            formControlName="branchIndexSP"
            (input)="onIndexInput($event)"
            maxlength="5"
            matInput>
        </mat-form-field>
      </div><!-- /col-sm-6 -->

    </div><!-- /site__row -->

  </div>

  <div class="site__row site__row_result-info">

    <div class="col-xs-12 col-sm-6">

      <app-result-info [resultInfoData]="resultInfoData"></app-result-info>

    </div><!-- /col-sm-6 -->

  </div><!-- /site__row -->

  <div class="site__row site__row_check">

    <div class="col-xs-12 col-sm-6">

      <app-nice-check
        [confirmation]="form.get('confirmation')"
        [checkboxText]="'form.checkBox.procedureForUsing' | translate"></app-nice-check>

    </div>

  </div><!-- /site__row -->

  <div class="site__row">

    <div class="col-xs-12 col-sm-6">

      <button
        type="submit"
        [disabled]="form.invalid"
        class="btn">{{ "button.continue" | translate }}</button>

    </div><!-- /col-xs-12 -->

  </div><!-- /site__row -->

</form>
